

img {
    display: block;
  width: 100%;
}
.wrap{
    clear: both;
    display: wrap;
    flex-direction: column;
}
.infobox{
    width:80%;
    margin:20px auto;
    padding: 0 40px;
    justify-content:space-around;
    display: flex;
    text-align: center;
}
.infobox h1{
    color: rgb(255, 0, 0);
}
.row3{
font-size: 10px;
    background-color: red;
    display:flex;
    color:white;
    width:100%;
    line-height: 30px;
    text-align: center;
    justify-content:space-around;
}

#recommend {
    color: rgb(81, 244, 111);
    text-align: center;
    margin-top: 60px;
}
.classbox h1{
    color: rgb(0, 0, 0);
    font-size: larger;
    
}
.classbox{
    display:flex;
    justify-content: space-around;
  
    margin:0px auto;
}
.classbox .class{
    display:flex;
    justify-content:center;
    width: 80%;
    margin: 0px auto;
    padding: 0 10px;
   

}
.classbox .class .classboxinner{
   width:300px;
    box-shadow: 0 0 5px #919191;
    padding: 10px;
    margin:20px ;

}

.classbox .class .classboxinner .classimg{
    display:block;
    width: 100%;
    
}

.classbox .class .classboxinner .classword{
    color: rgb(56, 210, 210);
}
.classbox .class .classboxinner .teacher{
    color: grey
}
.classbox .class .classboxinner .time{
    color: grey
}
.classbox .class .classboxinner .price{
    text-decoration: line-through;
}
.classbox .class .classboxinner .discount{
    clear: both;
    color: rgb(255, 0, 0);
    font-size: 30px;
    margin-left: 20px;
    text-decoration: none;
    
}

button{
    background-color: red;
    color: white;
    border: none;
    width: 100%;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 20px;
}

footer{
    background-color:#333;
    color:white;
    line-height: 50px;
    text-align:center;
    width: 100%;
}