
body{
    margin: 0;
    padding: 0;
}
h1{
    background: none;
}
.box{
    margin-left:30px;
    width: 300px;
    height:200px;
    background-color: blanchedalmond;

}


a{
    text-decoration: underline;
    color:brown;
}
a:hover{
    text-decoration: none;
}
.ttpShow{
    display: none;
}
#ttpPanel{
    padding:15px;
    width:200px;
    text-align:left;
    border: 3px solid #ccc;
    position: absolute;
    z-index: 99;
    background-color: #fff;
    display: none;
}